iframe#richtextbody_ifr,
iframe#richtextanswer_ifr,
iframe#richtextmeaning_ifr,
iframe#richtextdescription_ifr,
iframe#richtexttext_ifr,
iframe#richtextcitation_reward_ifr{
  height: 150px !important;
}

iframe#richtextdesc_ifr {
  height: 300px !important;
}

table.dataTable thead th.sorting:before, table.dataTable thead th.sorting_asc:before, table.dataTable thead th.sorting_desc:before {
  content: "\2193" !important;
  color: #797777 !important;
  font-size: .8em !important;
  padding-top: .12em;
  position: absolute;
  top: 12px;
  left: 8px;
  display: block;
  font-family: FontAwesome;
}

.required-start {
  color: red;
}

#search-input button {
  right: -26px;
}

.panel-bordered .panel-body img.img-responsive {
  width: 200px;
}

._nav-tabs {
  width: calc(100% + 15px);
  margin-right: -15px;
  padding-right: 0;
}

._nav-tabs li {
  float: right;
}


.font-11 {
  font-size: 11px !important;
}


.pull-right.save {
  float: right !important;
}

.small {
  font-size: 75%;
}

.section-title {
  padding-bottom: 20px;
  margin-right: 15px;
  font-size: 19px;
}

.btn-collapse {
  position: absolute;
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-collapse i {
  margin-top: -2px;
}

ol {
  margin-right: 20px;
}

.panel-body > p {
  margin-right: 10px;
}

.btn-info-customer, .btn-info-customer:hover {
  background-color: #22a7f0;
  color: #fff;
  border-color: #22a7f0;
}

.loading{
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  clear:both;
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: none;
}


.digital_signature_show {
  width: 225px;
  height: 150px;
  background-color: #07926d;
  display: inline-block;
  position: absolute;
  z-index: 99;
  left: 30px;
  border-radius: 5px;
}


.digital_signature_show_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.digital_signature_show_container .point-center {
  color: #fff;
  align-self: center;
}

.digital_signature_show_container .point {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  display: none;
}

.digital_signature_show_container .point-right-top {
  right: 5px;
  top: 5px;
}

.digital_signature_show_container .point-right-bottom {
  right: 5px;
  bottom: 5px;
}


.digital_signature_show_container .point-left-top {
  left: 5px;
  top: 5px;
}


.digital_signature_show_container .point-left-bottom {
  left: 5px;
  bottom: 5px;
}

.digital_signature_show_container .active-point {
  display: block;
}


.ff_fileupload_wrap table.ff_fileupload_uploads td.ff_fileupload_summary,
.ff_fileupload_wrap table.ff_fileupload_uploads td.ff_fileupload_actions {
  display: none !important;
}

.ff_fileupload_wrap table.ff_fileupload_uploads {
  display: flex !important;
  overflow-x: auto !important;
}

.ff_fileupload_wrap table.ff_fileupload_uploads tr {
  margin: 0 5px !important;
}

/*._tab-content .tab-pane{*/
  /*height: 452px;*/
/*}*/

.image-nav-list {
  display: flex;
}

.image-nav-list a {
  overflow: hidden;
  height: 70px;
  width: 80px;
  margin-left: 5px;
  position: relative;
}

.image-nav-list a img {
  height: 100%;
  width: 100%;
}

.close-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0,0,0,.4);
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: 0;
  display: flex;
  transition: all .3s ease-in-out;
}


.image-nav-list a:hover .close-overlay {
  opacity: 1;
}

.bold {
  font-weight: bold;
}

.c {
  display: flex;
  justify-content: space-between;
}

.c .filter-select {
  width: 25%;
}

.font-bold {
  font-weight: bold !important;
}

.btn-cyan {
  background-color: #0097A7;
  color: #fff;
}

.btn-action {
  height: 16px;
  margin-right: 2px;
  position: relative;
  right: -3px;
}

.btn-m-r-8 {
  margin-right: 8px !important;
}

[type=number].form-control {
  width: 100%;
}

.display-hidden {
  display: none;
}

.container-rows {
  margin-right: -40px;
}
