<template>
  <v-app>
    <div class="row">

      <!-- Right Section -->
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-bordered" style="padding-bottom:5px;">

          <div class="panel-heading" style="border-bottom:0;">
            <h3 class="main-color section-title">الفعالية</h3>
          </div>

          <div class="panel-heading" style="border-bottom:0;">
            <h3 class="panel-title">اسم الفعالية</h3>
          </div>
          <div class="panel-body" style="padding-top:0;">
            <p>{{ dataTypeContent.title }}</p>
          </div>
          <hr style="margin:0;">

          <div class="panel-heading" style="border-bottom:0;">
            <h3 class="panel-title">حالة الفعالية</h3>
          </div>
          <div class="panel-body" style="padding-top:0;">
            <p :class="dataTypeContent.status.class">{{ dataTypeContent.status.label }} <br><small class="font-bold">{{ dataTypeContent.status.diff_time }}</small></p>
            <v-alert v-if="allowedAddArtist" outlined type="success" color="success" text>
              يمكنك اضافة او حذف فنانين
            </v-alert>
            <v-alert v-if="!allowedAddArtist" outlined type="warning" prominent border="left" color="warning">
              لا يمكنك اضافة او حذف فنانين
            </v-alert>
          </div>

        </div>
      </div>
      <!-- END Right Section -->

      <!-- Center Section -->
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-bordered" style="padding-bottom:5px;">
          <div class="panel-heading" style="border-bottom:0;">
            <h3 class="main-color section-title">الفنانين</h3>
          </div>

          <app-loading-gif :display="another_artists_loading"></app-loading-gif>

          <v-list>
            <v-list-item
                    v-for="(artist, index) in artists"
                    :key="artist.id"
                    @click=""
            >
              <v-list-item-avatar>
                <v-img :src="storage + artist.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content @click="navigateToArtist(artist)">
                <v-list-item-title v-text="artist.info.display_name"></v-list-item-title>
                <v-list-item-subtitle v-text="artist.email"></v-list-item-subtitle>
              </v-list-item-content>

              <v-btn v-if="allowedAddArtist" @click="deleteArtistFromEvent(index, artist)" small elevation="0" fab color="red" icon class="ma-2">
                <v-icon color="red">mdi-close</v-icon>
              </v-btn>

            </v-list-item>
          </v-list>

        </div>
      </div>
      <!-- END Center Section -->

      <!-- Left Section -->
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-bordered" style="padding-bottom:5px;">
          <div class="panel-heading" style="border-bottom:0;">
            <h3 class="main-color section-title">اضف فنان</h3>
          </div>

          <app-loading-gif :display="artists_loading"></app-loading-gif>

          <v-list>
            <v-list-item
                    v-for="(another_artist, index) in anotherArtists"
                    :key="another_artist.id"
                    @click=""
            >
              <v-list-item-avatar>
                <v-img :src="storage + another_artist.avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content @click="navigateToArtist(another_artist)">
                <v-list-item-title v-text="another_artist.info.display_name"></v-list-item-title>
                <v-list-item-subtitle v-text="another_artist.email"></v-list-item-subtitle>
              </v-list-item-content>

              <v-btn v-if="allowedAddArtist" @click="addArtistToEvent(index, another_artist)" small elevation="0" fab color="red" icon class="ma-2">
                <v-icon color="green">mdi-check</v-icon>
              </v-btn>

            </v-list-item>
          </v-list>

        </div>
      </div>
      <!-- END Section -->

    </div>
  </v-app>
</template>

<script>
    export default {
        props: ['dataTypeContent', 'anotherArtists', 'modes'],
        data() {
            return {
                artists: [],
                storage: window.storage_link + '/',
                artists_loading: false,
                another_artists_loading: false,
            }
        },
        created() {
            this.artists = this.dataTypeContent.artists;
        },
        computed: {
            allowedAddArtist: function () {
                return this.dataTypeContent.status.mode == this.modes.Active || this.dataTypeContent.status.mode == this.modes.Waiting;
            }
        },
        methods: {
            navigateToArtist: function (artist) {
                window.location.href = window.base_url + '/' + 'admin/artists/' + artist.id;
                return;
            },
            deleteArtistFromEvent: function (index, artist) {
                this.another_artists_loading = true;
                this.toggleArtistEventApi(artist.id).then(res => {
                    this.artists.splice(index, 1);
                    this.anotherArtists.push(artist);
                    window.toastr.success('تم حذف ' + artist.info.display_name + ' من ' + this.dataTypeContent.title);
                    this.another_artists_loading = false;
                }).catch(err => {
                    window.toastr.error(err.msg);
                    this.another_artists_loading = false;
                });
            },
            addArtistToEvent: function (index, another_artist) {
                this.artists_loading = true;
                this.toggleArtistEventApi(another_artist.id).then(res => {
                    this.anotherArtists.splice(index, 1);
                    this.artists.push(another_artist);
                    window.toastr.success('تمت اضافة ' + another_artist.info.display_name + ' الي ' + this.dataTypeContent.title);
                    this.artists_loading = false;
                }).catch(err => {
                    window.toastr.error(err.msg);
                    this.artists_loading = false;
                });
            },
            toggleArtistEventApi: function (artist_id) {
                //  /admin/events/{event_id}/artists/{artist_id}
                let route = window.base_url + '/admin/events/'+ this.dataTypeContent.id +'/artists/' + artist_id;
                return axios.get(route);
            }
        }
    }
</script>
