<template>
  <v-app>
    <v-card class="mx-auto"
            max-width="400">
      <v-img
              class="white--text align-end"
              height="200px"
              :src="storage + item.image">
        <v-card-title>{{ item.title }}</v-card-title>
      </v-img>

      <v-card-subtitle class="pb-0">{{ item.created_at }}</v-card-subtitle>

      <v-card-text class="text--primary">
        <div v-if="item.type == 'articles'" class="main-color">{{ item.artist.display_name }}</div>
        <div>{{ item.short_body }}</div>
      </v-card-text>
    </v-card>
  </v-app>
</template>

<script>
    export default {
        props: {
            item: {
                default() {
                    return {};
                }
            }
        },
        data() {
            return {
                storage: window.storage_link + '/',
            }
        }
    }
</script>

<style scoped>

</style>